@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback');
@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';

.btn-danger{
    background-color: #009099 !important;
    border:  #1D617A !important;
}
 .card-header{
    background-color: #009099 !important;
    border:  #1D617A !important;
}